<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
</head>
<body>
    <form th:action="@{/updateItem}" th:object="${expenseItem}" method="post" >
        <input type="hidden" name="id" th:field="*{id}" />
        <table class="table">
            <tbody>
            <tr>
                <th>날짜</th>
                <th>항목</th>
                <th>수입</th>
                <th>지출</th>
                <th>메모</th>
                <th>태그</th>
            </tr>
            <tr>
                <td><input type="date" id="date" th:field="*{date}"></td>
                <td><input type="text" id="subject" th:field="*{subject}" placeholder="항목을 입력하세요"></td>
                <td><input type="text" id="income" th:field="*{income}"></td>
                <td><input type="text" id="expense" th:field="*{expense}"></td>
                <td><input type="text" id="memo" th:field="*{memo}" placeholder="메모를 입력하세요"></td>
                <td><input type="text" id="tag" th:field="*{tag}" placeholder="태그를 입력하세요"></td>
            </tr>
            </tbody>
            <button type="submit">수정</button>
        </table>
    </form>
</body>
</html>