<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
</head>
<style>
    th {
        width: 150px;
    }
    tr {
        height: 40px;
    }
</style>
<script>
    function validateUpdate(value) {
        console.log(value);
        const checkboxes = document.querySelectorAll('input[name="selectedItems"]:checked');
        if (checkboxes.length !== 1 && value === "update") {
            alert("한 번에 하나의 아이템만 수정할 수 있습니다.");
            return false;
        }
        return true;
    }
</script>
<body>
    <h3>
        <span th:text="${year}">Year</span>년
        <span th:text="${month}">Month</span>월의 가계부
    </h3>
    <form th:action="@{/processItem}" th:object="${expenseItem}" method="post" onsubmit="return validateUpdate(this.querySelector('button[type=submit]:focus').value)">
        <table class="table">
        <tbody>
            <tr>
                <th style="width: 50px"></th>
                <th>날짜</th>
                <th>항목</th>
                <th>수입</th>
                <th>지출</th>
                <th>메모</th>
                <th>태그</th>
            </tr>
            <tr th:each="item : ${items}">
                <td>
                    <input type="checkbox" th:value="${item.id}" th:name="selectedItems" />
                </td>
                <td th:text="${item.date}">날짜</td>
                <td th:text="${item.subject}">명목</td>
                <td th:text="${item.income}">수입</td>
                <td th:text="${item.expense}">지출</td>
                <td th:text="${item.memo}">메모</td>
                <td th:text="${item.tag}">태그</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="${allIncomeTotal}">수입 합계</td>
                <td th:text="${allExpenseTotal}">지출 합계</td>
                <td>수입 + 지출</td>
                <td th:text="${allIncomeAllExpense}">수입 + 지출</td>
            </tr>
            <button type="submit" name="action" value="addItem">등록</button>
            <button type="submit" name="action" value="update">수정</button>
            <button type="submit" name="action" value="delete">삭제</button>
        </table>
    </form>
</body>
</html>